@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&family=Saira+Condensed:wght@100;400;600;700&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: grid;
	font-family: 'Saira Condensed', sans-serif;
	color: #F5E9CF;
	/* background: radial-gradient(circle, transparent 20%, #63bc68 20%, #63bc68 80%, transparent 80%, transparent),
		radial-gradient(circle, transparent 20%, #63bc68 20%, #63bc68 80%, transparent 80%, transparent) 12.5px 12.5px,
		linear-gradient(#b8bc4a 1px, transparent 1px) 0 -0.5px,
		linear-gradient(90deg, #b8bc4a 1px, #63bc68 1px) -0.5px 0;
	background-size: 25px 25px, 25px 25px, 12.5px 12.5px, 12.5px 12.5px; */
	/* background-color: #ffffff;
	background: radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent),
		radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent) 12.5px 12.5px,
		linear-gradient(#a0a0a5 1px, transparent 1px) 0 -0.5px,
		linear-gradient(90deg, #a0a0a5 1px, #ffffff 1px) -0.5px 0;
	background-size: 25px 25px, 25px 25px, 12.5px 12.5px, 12.5px 12.5px; */
	/* background: rgb(3, 140, 76);
	background: radial-gradient(circle, rgba(3, 140, 76, 1) 0%, rgba(33, 213, 129, 1) 100%); */
	background: rgb(79, 88, 61);
	opacity: 1;
	background-size: 7px 7px;
	background-image: repeating-linear-gradient(45deg, #4f583d 0, #4f583d 0.7000000000000001px, #5e684a 0, #5e684a 50%);
}

.container {
	height: auto;
	justify-content: center;
	align-items: center;
}

.main-item {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main-item img {
	filter: grayscale(50%);
	width: 300px;
	height: 300px;
	border-radius: 50%;
	box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.5);
	transition: all 0.4s ease-in-out;
}

.e-item {
	top: 50%;
	
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.e-item-1 {
	animation: move1 1.5s;
	animation-fill-mode: forwards;
	animation-delay: .25s;
}

.e-item-2 {
	animation: move2 1.5s;
	animation-fill-mode: forwards;
	animation-delay: .75s;
}

.e-item-3 {
	animation: move3 1.5s;
	animation-fill-mode: forwards;
	animation-delay: 1.25s;
}

.e-item-4 {
	animation: move4 1.5s;
	animation-fill-mode: forwards;
	animation-delay: 1.75s;
}

.e-item-5 {
	animation: move5 1.5s;
	animation-fill-mode: forwards;
	animation-delay: 2.25s;
}

.e-item-6 {
	animation: move6 1.5s;
	animation-fill-mode: forwards;
	animation-delay: 2.75s;
}

.e-item-7 {
	animation: move7 1.5s;
	animation-fill-mode: forwards;
	animation-delay: 3.25s;
}

.e-item:hover {
	cursor: pointer;
}

.e-item img {
	filter: grayscale(70%);
	width: 100px;
	height: 100px;
	background-size: auto;
	border-radius: 50%;
	box-shadow: 3px 4px 11px 1px rgba(46, 46, 46, 0.363), -3px -4px 11px 1px rgba(46, 46, 46, 0.363);
	margin-bottom: 1.6rem;
	transition: all 0.4s ease-in-out;
	background-color: #D0B792;

}

.e-item:hover img {
	filter: none;
	scale: 1.4;
}


.e-item a {
	color: inherit;
	text-decoration: none;
}

.title {
	font-family: 'Cairo', sans-serif;
	font-size: 1.25rem;
	position: relative;
}

.title::after {
	position: absolute;
	content: "";
	width: 0%;
	height: 2px;
	background-color: #8FA6AC;
	left: 50%;
	bottom: -10px;
	transition: all 0.4s ease-in-out;
}

.e-item:hover .title::after {
	width: 100%;
	left: 0;
}

#nav {
	left: 0px;
	
	background-color: transparent;
	width: 100%;
	text-align: center;
}

#nav ul {
	margin: 0;
	padding: 0;
	display: inline-block;
	list-style-type: none;
}

#nav ul li {
	margin: 0;
	padding: 0;
	float: left;
}

#nav ul li a {
	
	text-decoration: none;
	padding: 10px 20px;
	display: block;
	color: #F5E9CF;
	text-align: center;
}

#nav ul li a:hover {
	color: #8FA6AC;
	width: 100%;
	left: 0;
}

#nav ul li a::after {
	position: absolute;
	content: "";
	width: 0%;
	height: 2px;
	background-color: rgb(78, 167, 78);
	left: 50%;
	bottom: -10px;
	transition: all 0.4s ease-in-out;
}

.box {
	background: url("img/globe.jpeg");
}

#box {
	background: url("img/globe3.jpeg");
	opacity: 100%;
	filter: hue(333);
	background-size: cover;
	background-color: #f2f2f2;
	/*border:2px solid #000;*/
	border-radius: 50%;
	width: 450px;
	height: 450px;
	animation: movimiento 30s linear 0s infinite;
	box-shadow: 6px 7px 21px 2px rgba(46, 46, 46, 0.363), -6px -7px 50px 2px rgba(46, 46, 46, 0.90), 0 0 30px 30px rgba(255, 255, 255, 0.87) inset, 0px 0px 2px 2px rgba(46, 46, 46, 0.849) inset;

	/*box-shadow:0 0 25px RGBA(255,255,255, 0.10),
               -8px -8px 15px #000 ,
               2px 2px 25px #000 ,
               -45px -45px 25px RGBA(0,0,0, 0.5) , 
               25px 25px 45px RGBA(0,0,0, 0.45) ;*/
	margin: 6em auto;
	transform: rotateX(6deg) rotateY(6deg) rotateZ(6deg);
}

#box:hover {
	animation-play-state: paused;
}

@keyframes movimiento {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: 500px 0;
	}
}

@keyframes move1 {
	from {
		top: 50%;
		left: 50%;
	}

	to {
		top: 13%;
		left: 23%;
	}

	0% {
		scale: 0;
	}

	100% {
		scale: 100%;
	}
}

@keyframes move2 {
	from {
		top: 50%;
		left: 50%;
	}

	to {
		top: 43%;
		left: 17%;
	}

	0% {
		scale: 0;
	}

	100% {
		scale: 100%;
	}
}

@keyframes move3 {
	from {
		top: 50%;
		left: 50%;
	}

	to {
		top: 72%;
		left: 23%;
	}

	0% {
		scale: 0;
	}

	100% {
		scale: 100%;
	}
}

@keyframes move4 {
	from {
		top: 50%;
		right: 50%;
	}

	to {
		top: 13%;
		right: 21%;
	}

	0% {
		scale: 0;
	}

	100% {
		scale: 100%;
	}
}

@keyframes move5 {
	from {
		top: 50%;
		right: 50%;
	}

	to {
		top: 43%;
		right: 15%;
	}

	0% {
		scale: 0;
	}

	100% {
		scale: 100%;
	}
}

@keyframes move6 {
	from {
		top: 50%;
		right: 50%;
	}

	to {
		top: 72%;
		right: 21%;
	}

	0% {
		scale: 0;
	}

	100% {
		scale: 100%;
	}
}

@keyframes move7 {
	from {
		top: 50%;
		left: 50%;
	}

	to {
		top: 20%;
		left: 7%;
	}

	0% {
		scale: 0;
	}

	100% {
		scale: 100%;
	}
}

#catalyst {
	float: left;
	max-width: 70px;
	max-height: 70px;
	width: auto;
	height: auto;
	bottom: 0;
	margin: 10px;
}

#accredited {
	float: left;
	max-width: 70px;
	max-height: 70px;
	width: auto;
	height: auto;
	bottom: 0;
	margin: 10px;
}

#UT-Tabuk {
	float: left;
	bottom: 0px;
	max-width: 70px;
	max-height: 70px;
	width: auto;
	height: auto;
	margin: 10px;
}

#E-Learning {
	float: left;
	bottom: 0px;
	max-width: 100px;
	max-height: 70px;
	width: auto;
	height: auto;
	margin: 10px;
}

.footer {
	font-family: 'Cairo', sans-serif;
	font-weight: 100;
	font-size: smaller;
	left: 0;
	bottom: 0;
	width: 100%;
	background: transparent;
	color: #F5E9CF;
	text-align: center;
	padding: 10px;
	position: absolute;
}

#copyrights{
	bottom: 0px;
}

